@import ".generated/app";


html {
  background-color: #00994B;
  background-image: url(https://raw.githubusercontent.com/localiza-ux/designtokens/master/src/imgs/estrada.png);
  background-repeat: no-repeat;
  background-position: right 0px;
}

#HomePortal{
  padding: 80px 200px;
  color: #000000;
  font-family: 'Open Sans', 'sans-serif';


  .btn-primary{
      padding: 12px 32px;
      background-color: #CEE741;
      border: 2px solid #CEE741;

      border-radius: 6px;
      float: left;
      color: #00994B;
      margin-right: 20px;

      color: #00994B;
      text-decoration: none;
  }

  .btn-secundary{
    padding: 12px 32px;
    border: 2px solid #CEE741;
    border-radius: 6px;
    float: left;
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
  }

  .btn-neutro{
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
    font-size: 14px;
      
      .material-icons{
        font-size: 20px;
        float: left;
      }
  }

  h1{
    font-size: 52px;
    color: #CEE741;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  h2{
    font-size: 24px;
    color: #CEE741;
    margin-bottom: 70px;
  }

  img.logoLocaliza{
    display: block;
    width: 140px;
    margin-right: 412px;
    margin-top: 200px;
  }

  .description{
    font-size: 28px;
    color: #FFF;
    line-height: 42px;
    margin-bottom: 40px;
    padding-top: 14px;
  }
}